
.header {
  color: #5265e4;
  padding: 10px;
}
form{
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #cbb2ab;
  transform: translate(-50%,-50%);
  padding: 15px;
  border: 1px solid;
  border-radius: 10px;
 
}
.forminput {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 90px;
}
.formcontainer label {
  padding-bottom: 10px;
  font-weight: bold;
}
form span {
  padding-top: 5px;
  color: #c31331;
  font-weight: 600;
}
.completeinput {
  width: 300px;
  height: 30px !important;
  border-radius: 5px;
  padding: 0 10px;
  border: solid 1px #7dc9a5;
  transition: all 0.2;
  outline: none;
}
.oncomplete {
  width: 300px;
  height: 30px !important;
  border-radius: 5px;
  padding: 0 10px;
  border: solid 1px #c31331;
  transition: all 0.2;
  outline: none;
}

form input {
  width: 300px;
  height: 30px !important;
  border-radius: 5px;
  padding: 0 10px;
  border: solid 1px silver;
  transition: all 0.2;
  outline: none;
}
.formcheckbox {
  display: flex;
  font-size: 0.85rem;
  flex-direction: row !important;
  height: 20px !important;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
.formcheckbox label {
  padding: 0;
}
input[type="checkbox"] {
  margin-left: 20px;
  width: 18px;
  height: 18px;
  border: 1px solid #171923;
  transition: all 0.2s ease-in;
}
input[type="checkbox"]:checked {
  width: 18px;
  height: 18px;
  border: 1px solid #171923;

  border-radius: 50%;
}
.button {
  display: flex;
  justify-content: space-around;
}
.button a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.5rem;
}
.button button {
  width: 100px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  cursor: pointer;
  color: aliceblue;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
}
.button button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #5265e4;
}
.button a:hover {
  color: #5265e4;
}
